<section class="person-input">
    <mat-form-field class="person-input__field" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="text" placeholder="Insert name" [(ngModel)]="enteredPersonName">
        <button *ngIf="enteredPersonName" matSuffix mat-icon-button aria-label="Clear" (click)="onClearPerson()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="onCreatePerson()">Create</button>
</section>
