<main class="main">
    <section class="main__header">
        <mat-toolbar class="toolbar">
            <span>Persons</span>
            <div class="toolbar__buttons">
                <button mat-raised-button color="primary" routerLink="/">
                    Persons list
                </button>
                <button mat-raised-button color="primary" routerLink="/input">
                    Create person
                </button>
            </div>
        </mat-toolbar>
    </section>
    <section class="main__content">
        <router-outlet></router-outlet>
    </section>
</main>
